---
import BaseHead from '../components/BaseHead.astro';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title=delvaux.one />
	</head>
	<body>
		<Header />
		<main>
			<h1>delvaux.one</h1>
		</main>
		<Footer />
	</body>
</html>
